<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Passwords" value="" />
    <add key="Tokens" value="" />
    <add key="Results" value="" />
    <add key="RestoreFolder" value="" />
    <add key="Salt" value="" />
    <add key="LastUsedCodes" value="" />
    <add key="LastCommand" value="" />
  </appSettings>
</configuration>